
body {
  min-height: 500px;
}

@media (min-height: 500px) {
  body {
    overflow: hidden;
  }
  
  #pages > div {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 500px;
    min-width: 700px;
    display: flex;
    overflow: hidden;
  }

  #pages > .related-view {
    display: block;
    padding: 50px;
  }

  .person-view {
    flex-direction: column;
    
    .top {
    }

    .main-section {
      flex-grow: 1;
      display: flex;

      .left-side {
        flex-grow: 1;
      }

      .right-side {
        width: 400px;
        overflow: auto;
        padding: 10px 20px;
      }
    }
  }

  #pages > .todos-view {
    display: block;
    overflow: auto;
    padding: 10px 30px;
  }
}
@media (max-height: 499px) {
  .tree {
    height: 400px;
  }
}

.right-side {
  min-width: 400px;
}

.history {
  position: relative;

  .look-down {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.breadcrumb-container {
  max-height: 30px;
  height: 30px;
  overflow-y: hidden;
  transition: max-height 1s ease;

  &:hover {
    max-height: 600px;
    height: auto;
    overflow-y: auto;

    .look-down {
      display: none;
    }
  }

  .breadcrumb-help {
    display: none;
  }

  ul {
    margin: 5px 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin-bottom: 15px;

    a {
      border: 1px solid #ccc;
      padding: 5px 10px;
      border-radius: 5px;

      &:active,
      &:hover {
        background-color: #eef;
        text-decoration: none;
      }
    }
  }
}

.person-vitals {
  .focus-me {
    cursor: pointer;
    padding-right: 5px;
  }
  .head {

    .status, .status.inactive {
      background-color: #eee;
    }
    
    .status.active {
      background-color: #fbe;
    }
    
    .status.clean {
      background-color: rgb(150, 230, 255);
    }
    
    .status.complete {
      background-color: rgb(115, 255, 176);
    }

    .status.hard {
      background-color: rgb(115, 255, 176);
    }

    .status {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 5px;

    }
  }
  span {
    margin-right: 5px;
  }
  .title {
    font-weight: bold;
  }
  .data {
    font-size: 10px;
  }
}

.person-details {
  margin-top: 10px;

  .loading-families {
    padding: 6px 10px;
    background-color: #dfd;
    margin-bottom: 5px;

    .icon-refresh {
      margin-right: 3px;
    }
  }

  .parents {
    border-left: 28px solid #eee;
    padding-left: 5px;
  }

  .num-children {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 0 7px;
    font-size: 10px;
    font-weight: bold;
    border-top-left-radius: 5px;

    &.one-child {
      background-color: red;
      color: white;
    }
    &.few-children {
      background-color: orange;
      color: white;
    }
  }

  .main.person {
    position: relative;
    margin-bottom: 5px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;

    .head {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .person {
    position: relative;
    margin-bottom: 5px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    background-color: white;
    cursor: default;
    min-height: 38px;

    .head {
      font-size: 12px;
      font-weight: bold;
    }

    .noname {
      font-style: italic;
      color: black;
    }

    > .title {
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 7px;
      color: white;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 5px;
    }
  }
  .child {
    margin-left: 7px;
  }
  .spouse {
    border-left: 2px solid;
    padding-left: 6px;
  }
  .spouse.male {
    border-color: #39f;
  }
  .spouse.female {
    border-color: #fad;
  }
  .father > .title {
    background-color: #39f;
  }
  .spouse.male > .title {
    background-color: #39f;
  }
  .child.male > .title {
    background-color: #7cf;
  }
  .mother > .title {
    background-color: #f3a;
  }
  .spouse.female > .title {
    background-color: #f3a;
  }
  .child.female > .title {
    background-color: #f7d;
  }
}

.person-view {
  .top {
    margin-bottom: 10px;

    .loading-person,
    .person-name {
      margin: 0 10px;
      font-size: 16px;
      font-weight: bold;
    }
    .loading {
      margin-left: 10px;
    }
    .btn {
      margin: 0 5px;
    }
  }
}
  
.modal {
  margin: 0;
}

.fan-tip {
  color: #aaa;

  .name {
    font-weight: bold;
    font-size: 13px;
    color: white;
  }
  .minor {
    color: #faa;
    font-weight: bold;
  }
  .major {
    color: red;
    font-weight: bold;
  }
  .one-child {
    color: red;
    font-weight: bold;
  }
  .few-children {
    color: #faa;
    font-weight: bold;
  }
}

.person {
  &.focused,
  &:hover {
    fill: #ccc;
  }
  &.one-child {
    // stroke: #faa;
  }

  &.few-children {
    // stroke: #fa7;
  }
}

.fan-borders {
  path {
    stroke-width: 1px;
  }
}

.arc.person {
  stroke: none;
}

.indicator {
  fill: transparent;
  display: none;

  &.shown {
    display: block;
    // stroke: black;
  }
  
  // a problem is worse than an issue :)
  &.bad-data {
    fill: #5C4D12
  }
  &.poor-data {
    fill: #AD994A;
  }
  &.probable-research {
    fill: red;
  }
  &.possible-research {
    fill: orange;
  }
  &.few-sources {
    fill: #af7;
  }
  &.many-sources {
    fill: #3a0;
  }
}

#photos-tree,
#download-tree {
  display: none;
}

.tree svg {
  display: block;
  margin: 0 auto;
}

.rightPane {
  float: left;
  margin-left: 30px;
}

.todo:hover {
  background-color: #eee;
}

.todo {
  color: #555;
  padding: 5px 10px;
  border-radius: 10px;
  
  span {
    margin-left: 15px;
  }
  input {
    margin-top: -4px;
  }
  span.type {
    font-style: italic;
    color: black;
  }
}
  
#dialog.login-modal {
  border-radius: 10px;
  bottom: 30px;
  top: 50px;
  width: auto;

  .content {
    height: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding: 10px;
  }
  .body {
    height: 100%;
  }
  iframe {
    border: none;
    height: 100%;
  }
}

