
body {
  min-height: 500px;
  padding-top: 50px;
}

.modal {
  margin: 0;
}

.rootPerson {
  float: left;
}

.rightPane {
  float: left;
}

.todo:hover {
  background-color: #eee;
}

.todo {
  color: #555;
  padding: 5px 10px;
  border-radius: 10px;
  
  span {
    margin-left: 15px;
  }
  input {
    margin-top: -4px;
  }
  span.type {
    font-style: italic;
    color: black;
  }
}
  
#dialog.login-modal {
  border-radius: 10px;
  bottom: 30px;
  top: 50px;
  width: auto;

  .content {
    height: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding: 10px;
  }
  .body {
    height: 100%;
  }
  iframe {
    border: none;
    height: 100%;
  }
}

