
body {
  min-height: 500px;
  padding-top: 50px;
}

.modal {
  margin: 0;
}

.fan-tip {
  color: #aaa;

  .name {
    font-weight: bold;
    font-size: 13px;
    color: white;
  }
  .one-child {
    color: red;
    font-weight: bold;
  }
  .few-children {
    color: #faa;
    font-weight: bold;
  }
}

.person {
  &.one-child {
    // stroke: #faa;
  }

  &.few-children {
    // stroke: #fa7;
  }
}

#photos-tree,
#download-tree {
  display: none;
}

.tree {
  float: left;
  display: -webkit-box;
  display:    -moz-box;
  display:    flex-box;

  .go-back {
    display: -webkit-box;
    display:    -moz-box;
    display:    flex-box;
    -webkit-box-align: center;
       -moz-box-align: center;
            box-align: center;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    .mid {
      font-size: 90px;
      font-weight: bold;
      margin-top: -15px;
    }
  }

  .rootPerson {
  }
}

.rightPane {
  float: left;
  margin-left: 30px;
}

.todo:hover {
  background-color: #eee;
}

.todo {
  color: #555;
  padding: 5px 10px;
  border-radius: 10px;
  
  span {
    margin-left: 15px;
  }
  input {
    margin-top: -4px;
  }
  span.type {
    font-style: italic;
    color: black;
  }
}
  
#dialog.login-modal {
  border-radius: 10px;
  bottom: 30px;
  top: 50px;
  width: auto;

  .content {
    height: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding: 10px;
  }
  .body {
    height: 100%;
  }
  iframe {
    border: none;
    height: 100%;
  }
}

