span.message {{alert.message}}
span.title {{alert.todo.description}}
span.person {{person.name}}
a(target='_blank', href="https://familysearch.org/tree/#view=ancestor&person={{alert.person}}") View Person

