<!DOCTYPE html>
<html ng-app="familyfound">
  <head>
    <title>Home | FamilyFound</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link href="/css/build.css" rel="stylesheet" media="screen">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container"><a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a href="#" class="brand"><span>FamilyFound</span></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/person/"><span>Fan Chart</span></a></li>
              <li><a href="/find-relation/"><span>How am I related?</span></a></li>
              <li><a href="/to-dos/"><span>To-do List</span></a></li>
              <li><a href="https://github.com/familyfound/familyfound/issues" target="_blank"><span>Report a Problem</span></a></li>
              <li><a href="https://github.com/familyfound/familyfound/" target="_blank" class="icon"><i class="icon-github icon-light"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main-container">
      <base href="/">
      <div id="pages" ng-view class="row-fluid"></div>
      <div class="templates">
        <script id="person-vitals.html" type="text/ng-template">
          <div class="person-vitals">
            <div class="head"><span person-status="person" class="person-status"></span><a href="/person/{{ person.id }}"><span class="name">{{ person.display.name }}</span><span ng-show="!person.display.name" class="noname">No Name</span><span class="year">{{ person.display.lifespan }}</span></a><i ng-click="focus(person)" class="icon-arrow-up focus-me"></i><a href="https://familysearch.org/tree/#view=ancestor&amp;person={{ person.id }}" target="_blank"><i class="icon-external-link"></i></a></div>
            <div class="data">
              <div ng-show="person.display.birthDate || person.display.birthPlace" class="birth"><span class="title">Birth</span><span class="date">{{ person.display.birthDate }}</span><span title="{{ person.display.birthPlace }}" data-toggle="tooltip" class="place">{{ person.display.birthPlace | trunk:20 }}</span></div>
              <div ng-show="person.display.deathDate || person.display.deathPlace" class="death"><span class="title">Death</span><span class="date">{{ person.display.deathDate }}</span><span title="{{ person.display.deathPlace }}" data-toggle="tooltip" class="place">{{ person.display.deathPlace | trunk:20 }}</span><span ng-show="person.display.age" class="title">Age</span><span class="age">{{ person.display.age }}</span></div>
            </div>
          </div>
        </script>
        <script id="person-details.html" type="text/ng-template">
          <div class="person-details">
            <div class="person main">
              <div person-vitals="person" data-focus="focus"></div>
              <div class="{{ childClass(person) }} num-children">{{ numChildren(person.familyIds) }}</div>
            </div>
            <div class="parents">
              <div ng-show="person.father.display" class="person parent father"><span class="title">Father</span>
                <div person-vitals="person.father" data-focus="focus"></div>
                <div class="{{ childClass(person.father) }} num-children">{{ numChildren(person.father.familyIds) }}</div>
              </div>
              <div ng-show="person.mother.display" class="person parent mother"><span class="title">Mother</span>
                <div person-vitals="person.mother" data-focus="focus"></div>
                <div class="{{ childClass(person.mother) }} num-children">{{ numChildren(person.mother.familyIds) }}</div>
              </div>
            </div>
            <div class="families">
              <div ng-show="loading" class="loading-families"><i class="icon-refresh icon-spin"></i>Loading relatives {{ loading }}</div>
              <div ng-repeat="(spouseId, family) in person.families" class="family">
                <div ng-repeat="person in family | filter:notNull" ng-show="person" class="person {{ $index === 0 ? 'spouse' : 'child' }} {{ person.display.gender === 'Female' ? 'female' : 'male' }}"><span class="title">
                    {{ $index === 0 ?
                       (person.display.gender === 'Female' ? 'Wife' : 'Husband') :
                       (person.display.gender === 'Female' ? 'Daughter' : 'Son') }}</span>
                  <div person-vitals="person" data-focus="focus"></div>
                  <div class="{{ childClass(person) }} num-children">{{ numChildren(person.familyIds) }}</div>
                </div>
              </div>
            </div>
          </div>
        </script>
        <script id="relatedView.html" type="text/ng-template">
          <div class="related-view">
            <h4>How am I related?</h4>
            <p>
              Enter a person's ID number below to find out how you are related to
              them. If you are more than 10th cousins, we give up :) It would take
              too long to surch further. This is primarily for remembering how you
              are connected to someone you know is your ancestor.
            </p>
            <label>Person's ID
              <input type="text" placeholder="This person must be deceased" ng-model="relatedPersonId">
            </label>
            <button ng-click="findRelationship()" class="btn btn-primary">Find Relationship</button>
            <div ng-show="findingRelationship" class="loading-indicator"><i class="icon-spin icon-refresh"></i>{{ numSearched }} people searched, back {{ gensSearched }} generations</div>
            <div ng-show="relatedError" class="alert alert-error">
              <h3>Error finding relationship</h3>{{ relatedError }}
            </div>
            <div ng-show="relatedLine" class="relationship-line">
              <div class="link person {{ relatedLine.link.rel }} {{ relatedLine.link.display.gender }}">
                <div class="head"><a target="_blank" href="https://familysearch.org/tree/#view=ancestor&amp;person={{ relatedLine.link.id }}" class="name">{{ relatedLine.link.display.name }}</a><span class="lifes">{{ relatedLine.link.display.lifespan }}</span></div>
                <div class="places">
                  <div class="birth"><span class="date">{{ relatedLine.link.display.birthDate }}</span><span ng-show="relatedLine.link.display.birthPlace" class="place">{{ relatedLine.link.display.birthPlace }}</span></div>
                  <div class="death"><span class="date">{{ relatedLine.link.display.deathDate }}</span><span ng-show="relatedLine.link.display.deathPlace" class="place">{{ relatedLine.link.display.deathPlace }}</span></div>
                </div>{{ relatedLine.link.link }} | {{ relatedLine.link.rel }}
              </div>
              <div class="trees">
                <div class="from-me">
                  <div ng-repeat="person in relatedLine.up" class="person {{ person.rel }} {{ person.display.gender }}">
                    <div class="head"><a target="_blank" href="https://familysearch.org/tree/#view=ancestor&amp;person={{ person.id }}" class="name">{{ person.display.name }}</a><span class="lifes">{{ person.display.lifespan }}</span></div>
                    <div class="places">
                      <div class="birth"><span class="date">{{ person.display.birthDate }}</span><span ng-show="person.display.birthPlace" class="place">{{ person.display.birthPlace }}</span></div>
                      <div class="death"><span class="date">{{ person.display.deathDate }}</span><span ng-show="person.display.deathPlace" class="place">{{ person.display.deathPlace }}</span></div>
                    </div>{{ person.rel }}
                  </div>
                </div>
                <div class="to-them">
                  <div ng-repeat="person in relatedLine.down" class="person {{ person.rel }} {{ person.display.gender }}">
                    <div class="head"><a target="_blank" href="https://familysearch.org/tree/#view=ancestor&amp;person={{ person.id }}" class="name">{{ person.display.name }}</a><span class="lifes">{{ person.display.lifespan }}</span></div>
                    <div class="places">
                      <div class="birth"><span class="date">{{ person.display.birthDate }}</span><span ng-show="person.display.birthPlace" class="place">{{ person.display.birthPlace }}</span></div>
                      <div class="death"><span class="date">{{ person.display.deathDate }}</span><span ng-show="person.display.deathPlace" class="place">{{ person.display.deathPlace }}</span></div>
                    </div>{{ person.rel }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>
        <script id="todoView.html" type="text/ng-template">
          <div class="todos-view">
            <h4>Your To-do Items</h4>
            <div ng-show="loadingTodos" class="loading">Loading your to-do items...</div>
            <div ng-repeat="todo in todos.owned" data-todo="todo" data-dashboard="true" class="todo"><span>more replaces</span></div>
            <div ng-hide="todos.owned.length" class="no-todos">
              <p>You don't have any saved to-do items! Use the chrome extension to keep track of things you want to do.</p>
            </div>
            <h4 ng-show="todos.watching.length">Watched To-do Items</h4>
            <div ng-repeat="todo in todos.watching" data-todo="todo" data-dashboard="true" class="todo"><span>should be replaced</span></div><!-- .alerts
            <h4>Alerts</h4>
            <div ng-repeat="alert in alerts" data-alert="alert" class="alert"></div>-->
          </div>
        </script>
        <script id="personView.html" type="text/ng-template">
          <div class="person-view">
            <div class="top"><span ng-hide="rootPerson.display.name" class="loading-person"><i class="icon-spin icon-refresh"></i>
                <Loading>Tree</Loading></span><span ng-show="rootPerson.display.name" class="person-name">{{ rootPerson.display.name }} Tree</span><span class="loading">{{ ffapi.loaded }} / {{ ffapi.loading }}<i ng-show="ffapi.loading &gt; ffapi.loaded" class="icon-refresh icon-spin loading"></i></span>
              <div ng-click="clearCache()" data-toggle="tooltip" title="clear cached data" class="btn btn-warning"><i class="icon-refresh"></i></div>
              <div class="pull-right"><a href="#" target="_blank" ng-class="{disabled: loadingPeople &gt; 0}" ng-click="downloadFan($event)" class="btn btn-primary">{{ loadingPeople > 0 ? "Loading Fan Chart" : "Download Fan Chart" }}</a>
                <!-- a.btn.btn-primary(href="#", target="_blank", ng-class="{disabled: loadingPeople > 0}", ng-mousedown="downloadPhotos($event)") Download Photos Chart-->
              </div>
            </div>
            <div class="main-section">
              <div data-fan="rootPerson" data-config="fanConfig" class="left-side tree"></div>
              <div class="right-side">
                <div ng-show="focusedPerson.line.length" class="history">
                  <h4>History</h4>
                  <div class="look-down">{{ focusedPerson.line.length }}<i class="icon-arrow-down"></i></div>
                  <div data-breadcrumb="focusedPerson.line" data-config="bcConfig"></div>
                </div><a href="https://familysearch.org/tree/#view=ancestor&amp;person={{focusedPerson.id}}" target="_blank" class="view-on-fs">View on FamilySearch.org</a>
                <div ng-show="person" person-details="focusedPerson" class="person-details"></div>
              </div>
            </div>
            <!-- #photos-tree(data-fan="rootPerson", data-config='photosConfig')-->
            <div id="download-tree" data-fan="rootPerson" data-config="printConfig"></div>
          </div>
        </script>
        <script id="settings.html" type="text/ng-template">
          <div data-settings-manager="familyfound" class="settings-manager">
            You will see your settings in good time.
            
          </div>
        </script>
      </div>
    </div>
    <script src="/js/build.js"></script>
    <script>
      var ff = require('familyfound');
      
    </script>
  </body>
</html>