!!!
html(ng-app='familyfound')
  head
    block headtitle
        title FamilyFound
    block meta
    link(rel="icon", type="image/png", href="/favicon.png")
    block css
      link(href="/css/build.css", rel="stylesheet", media="screen")
  body
    block body
    block endjs
