.person-details
  .person.main(person-vitals="person")
  .parents
    .person.parent.father(ng-show="person.father.display")
      span.title Father
      div(person-vitals="person.father")
    .person.parent.mother(ng-show="person.mother.display")
      span.title Mother
      div(person-vitals="person.mother")
  .families
   .family(ng-repeat="(spouseId, family) in person.families")
     div(ng-repeat="person in family | filter:notNull", ng-show="person", class="person {{ $index === 0 ? 'spouse' : 'child' }} {{ person.display.gender === 'Female' ? 'female' : 'male' }}")
       span.title {{ $index === 0 ? (person.display.gender === 'Female' ? 'Wife' : 'Husband') : (person.display.gender === 'Female' ? 'Daughter' : 'Son') }}
       div(person-vitals="person")
       div(ng-if="$index > 0", class="{{ childClass(person.familyIds) }} num-children") {{ numChildren(person.familyIds) }}
